<div class="table-responsive">
    <table class="table table-bordered table-hover align-middle mb-0">
        <thead class="table-light">
            <tr>
                <th>SNo</th>
                @for (item of columnArray; track $index) {
                <th>{{item.columnName}}</th>
                }
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (showLoader) {
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-border text-secondary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-border text-success" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-border text-danger" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-border text-warning" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-border text-info" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-border text-light" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-border text-dark" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            }
            @for (item of filteredData; track $index) {
            <tr>
                <td>{{$index+1+(currentPage-1)*pageSize}}</td>
                @for (column of columnArray; track $index) {
                <td>{{item[column.keyName]|na:'NOT AVAIALABLE'}}</td>
                }
                <td class="text-center">
                    <!-- <button class="btn btn-sm btn-warning me-1" (click)="EditClicked(item)">
                        Edit
                    </button> -->
                    <app-custom-button [btnClass]="'btn btn-sm btn-warning me-1'" [btnTxt]="'Edit'" (buttonClicked)="EditClicked(item)"></app-custom-button>
                    <button class="btn btn-sm btn-outline-danger" (click)="DeleteClicked(item)">
                        Delete
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<div class="d-flex justify-content-between align-items-center mt-3">
    <div class="d-flex align-items-center gap-2">
        <span class="text-muted">Show</span>

        <select [(ngModel)]="pageSize" class="form-select form-select-sm" style="width: 75px;" (change)="onPageSizeChange()">
            <option>5</option>
            <option selected>10</option>
            <option>60</option>
            <option>200</option>
            <option>300</option>
        </select>

        <span class="text-muted">entries</span>
    </div>
    @if (currentPage*pageSize<tableData.length) {
        <div>{{(currentPage-1)*pageSize+1}}-{{currentPage*pageSize}} of {{tableData.length}}</div>
    }
    @else {
        <div>{{(currentPage-1)*pageSize+1}}-{{tableData.length}} of {{tableData.length}}</div>
    }
    <!-- Pagination -->
    <nav>
        <ul class="pagination pagination-sm mb-0">
            <li class="page-item">
                <button [disabled]="currentPage===1" class="page-link" (click)="onPrevious()">Previous</button>
            </li>

            @for (item of pageArray|slice:startPageIndex:endIndexPage; track $index) {
                <li class="page-item" [ngClass]="currentPage===item?'active':''">
                    <button class="page-link" (click)="getPageData(item)">{{item}}</button>
                </li>
            }
            <li class="page-item">
                <button [disabled]="currentPage>=pageArray.length" class="page-link" (click)="onNext()">Next</button>
            </li>

        </ul>
    </nav>

</div>